.item{
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
  margin-top: 5px;
}
.checkBox{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.buttonBox{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link{
  background-color: yellowgreen;
  width: 15px;
  height: 5px;
}